{{ define "main" }}
<section class="container section hero-section">
  <h1 class="hero-section-heading">
  {{ if isset .Site.Data.layouts.categories .Title}}
    {{ index .Site.Data.layouts.categories .Title }}
  {{ else }}
    {{  .Title }}
  {{ end }}
  </h1>
  <div style="text-align: left;" class="page-content">
    {{ $categoryContent := print "/layouts/category/" .Title ".md"}}
    {{ if fileExists $categoryContent }}
      {{ $categoryContent | readFile | markdownify }}
    {{ end }}
  </div>
</section>
<section class="container section grid md:grid-cols-4 gap-8">
  {{ $paginator := .Paginate .Data.Pages .Site.Params.blog_pager }} {{ range
  $paginator.Pages }}
  <div class="card card-post-default">
    <a href="{{ .Permalink }}"
      ><img
        class="card-post-image"
        src="{{ .Params.Image | absURL }}"
        alt="{{.Title}}"
    /></a>
    <div class="px-6 py-4">
      <h2 class="card-post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <div>
        {{ range $category:= .Params.categories }}
        <a class="category-tag category-{{ $category }}" href="{{ (print "categories/" $category) | absURL }}">{{ $category }}</a>
        {{ end }}
      </div>
      <div>
        <span class="card-post-date"
          >{{ .PublishDate.Format "02 Jan, 2006" }}</span
        >
      </div>
      <div class="card-post-description">{{ .Description }}</div>
    </div>
  </div>

  {{ end }}
</section>
<section class="container">
  {{ template "_internal/pagination.html" . }}
</section>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1642510310947288"
     crossorigin="anonymous"></script>
<!-- Header Ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1642510310947288"
     data-ad-slot="4755575293"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{{ end }}
